<style type="text/css">
	.parallaxParent {
		height: 100vh;
		overflow: hidden;
	}
	.parallaxParent > * {
		height: 200%;
		position: relative;
		top: -100%;
	}
</style>

<div id="parallax1" class="parallaxParent">
	<div style="background-image: url(<%= image_url 'example_parallax_bg1.png' %>);"></div>
</div>
<div id="parallax2" class="parallaxParent">
	<div style="background-image: url(<%= image_url 'example_parallax_bg2.png' %>);"></div>
</div>
<div id="parallax3" class="parallaxParent">
	<div style="background-image: url(<%= image_url 'example_parallax_bg3.png' %>);"></div>
</div>

<script>
	// init controller
	var controller = new ScrollMagic.Controller({globalSceneOptions: {triggerHook: "onEnter", duration: "200%"}});

	// build scenes
	new ScrollMagic.Scene({triggerElement: "#parallax1"})
					.setTween("#parallax1 > div", {y: "80%", ease: Linear.easeNone})
					.addIndicators()
					.addTo(controller);

	new ScrollMagic.Scene({triggerElement: "#parallax2"})
					.setTween("#parallax2 > div", {y: "80%", ease: Linear.easeNone})
					.addIndicators()
					.addTo(controller);

	new ScrollMagic.Scene({triggerElement: "#parallax3"})
					.setTween("#parallax3 > div", {y: "80%", ease: Linear.easeNone})
					.addIndicators()
					.addTo(controller);
</script>