<p id="notice"><%= notice %></p>

<h1>Listing Stories</h1>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>url</th>
      <th>slug</th>
      <th>voters</th>
      <th>votes</th>
      <th>relevance</th>
      <th>address</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.id %></td>
        <td><%= story.title %></td>
        <td><%= story.url %></td>
        <td><%= story.slug %></td>
        <td><%= story.voters %></td>
        <td><%= story.votes %></td>
        <td><%= story.relevance %></td>
        <td><%= (story.address) ? story.address.address_line1 : nil %></td>

        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
<%= will_paginate @stories, renderer: BootstrapPagination::Rails %>
</p>

<%= link_to 'New Story', new_story_path %>
