<div class="container">
	<% for attribute in @story.attributes.keys %>
	  <p><%= attribute.humanize %>: <%= @story.attributes[attribute].to_s %></p>
	<% end %>
</div>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
