<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to site_name, root_path, class: "navbar-brand" %>
  </div>
  <div id="navbar" class="navbar-collapse collapse">

    <% unless user_signed_in? %><!-- No one signed in -->

      <ul class="nav navbar-nav navbar-right">
        <li><%= button_to 'Sign up', registration_path(:user), class: "btn btn-default navbar-btn" %></li>
      </ul>

      <%= form_for(:user, :url => session_path(:user), html: {class: "navbar-form navbar-right"} ) do |f| %>
        <div class="form-group">
          <%= f.text_field :email,  placeholder: "Email", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
        </div>
        <%= f.submit 'Sign in', class: "btn btn-success" %>
      <% end %><!-- ./form -->

    <% else %><!-- Client signed in -->

      <ul class="nav navbar-nav">
        <li><%= link_to 'Stories', stories_path %></li>
        <li><%= link_to 'Angular', angular_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Signed in as <a href="#" class="navbar-link"><%= current_user.email %></a></p></li>
        <li><%= button_to 'Sign out', destroy_session_path(:user), method: :delete, class: "btn btn-default navbar-btn" %></li>
      </ul>

    <% end %>
  </div><!--/.navbar-collapse -->
</div>
</nav>