<!DOCTYPE html>
<html>
<head>
  <title><%= site_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/nav_bar' %>

    <%= render partial: "layouts/flash_messages", flash: flash %> 

	<%= yield %>

</body>
</html>
